<!DOCTYPE html>

<html lang="en">
    <head>
      <!-- Bootstrap and Personal CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

	    <title>IQ Test Sample</title>

	    <!-- Navigation Bar -->
	    <nav class="navbar navbar-expand-lg navbar-light bkgnd-page">
        <a class="navbar-brand" href="/">IQ Test Sample</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/history">History<span class="sr-only">(current)</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pretest">Test</a>
            </li>
          </ul>
          <span class="navbar-text">
          Improve your mind
          </span>
        </div>
      </nav>

    </head>

    <body>
      <!-- Jumbotron With Background -->
      <div class="bkgnd2 padleft">
        <h1 class="hb1 relative">Did you know...?</h1>
        <h5 class="hb2 relative">The brain needs 20% of our oxygen to maintain it's brain tissue alive!</h5>
      </div>

      <!-- History Content -->
      <!-- A1-->
      <div class="padding">
        <h5 class="mark">Wait... IQ?</h5>
        <p class="justify">
        IQ stands for intelligence quotient and in basic words it is the result derived from a set of standardized tests designed to assess human intelligence.
        The abbreviation "IQ" was coined by the psychologist William Stern for the German term Intelligenzquotient, his term for a scoring method for intelligence tests at University of Breslau he advocated in a 1912 book.
        Historically, IQ was a score obtained by dividing a person's mental age score, obtained by administering an intelligence test, by the person's chronological age, both expressed in terms of years and months. The resulting fraction (quotient) is multiplied by 100 to obtain the IQ score. For modern IQ tests, the median raw score of the norming sample is defined as IQ 100 and scores each standard deviation (SD) up or down are defined as 15 IQ points greater or less.
        IQ scores have been shown to be associated with such factors as morbidity and mortality, parental social status, and, to a substantial degree, biological parental IQ. While the heritability of IQ has been investigated for nearly a century, there is still debate about the significance of heritability estimates and the mechanisms of inheritance.
        </p>

        <div class="cont">
          <img src="/static/img/stern.jpg" alt="WS" class="center"/>
          <div class="bottom-right">William Stern</div>
        </div>

        <h6>What is the use?</h6>
        <p class="justify">
        IQ scores are used for educational placement, assessment of intellectual disability, and evaluating job applicants. In research contexts, they have been studied as predictors of job performance and income. They are also used to study distributions of psychometric intelligence in populations and the correlations between it and other variables. Raw scores on IQ tests for many populations have been rising at an average rate that scales to three IQ points per decade since the early 20th century, a phenomenon called the Flynn effect. Investigation of different patterns of increases in subtest scores can also inform current research on human intelligence.
        </p>
      </div>

      <!-- A2-->
      <hr class="my-4">
      <div class="padding">
        <h5 class="mark">It is also important</h5>
        <p class="justify">
        It should be pointed out that while IQ tests measure a variety
  			of different types of ability such as verbal, mathematical, spatial
  			and reasoning skills, it is now becoming increasingly recognized
  			that there are many different types of intelligence and that a high
  			measured IQ, although desirable, is not the only key to success in
  			life. Other characteristics such as outstanding artistic, creative or
  			practical prowess, especially if combined with personal characteristics such as ambition, good temperament and compassion,
  			could result in an outstanding level of success despite a low	measured IQ
  			</p>
  		</div>

    </body>

    <!-- Footer Section -->
    <footer>
      <div class="container-fluid bkgnd-page">
        <p class="footer">IQ Test Sample</p>
      </div>
    </footer>
</html>