<!DOCTYPE html>

<html lang="en">
    <head>
      <!-- Bootstrap and Personal CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

	    <title>IQ Test Sample</title>

	    <!-- Navigation Bar -->
	    <nav class="navbar navbar-expand-lg navbar-light bkgnd-page">
        <a class="navbar-brand" href="/">IQ Test Sample</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/history">History</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/pretest">Test<span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <span class="navbar-text">
          Improve your mind
          </span>
        </div>
      </nav>

    </head>

    <body>
      <!-- Jumbotron With Background -->
      <div class="bkgnd3 padleft">
        <h1 class="hb1 relative">Before you start...</h1>
        <hr class="my-4">
        <h5 class="hb2 relative">Lets consider some instructions so you can take all the best of this test</h5>
      </div>

      <!-- Introduction -->
      <div class="padleft2">
        <hr class="my-4">
        <h4>Test Overview</h4>

        <p>IQ tests measure a variety	of different types of abilities such as
          <ul>
            <li>Verbal</li>
            <li>Mathematical</li>
            <li>Spatial</li>
            <li>Reasoning Skills</li>
          </ul>
  			</p>
  			<p>
          At the end of the exam, the results will be shown based on: correct answers and test's total consumed time. <b>Remember that your accuracy on responses is more important than the total time taken.</b>
        </p>
      </div>

      <!-- Cards Group -->
      <div class="card-deck padding2">
        <div class="card text-center bg-light" style="width: 16rem;">
          <img src="/static/img/nopencil.jpg" class="card-img-top" alt="No Calculator" width="237" height="180">
          <div class="card-body">
            <h5 class="card-title">Avoid Use</h5>
            <p class="card-text">During this test it is <b>not possible to use</b> pencil, paper or calculator. Challenge your brain.</p>
          </div>
        </div>

        <div class="card text-center bg-light" style="width: 16rem;">
          <img src="/static/img/books.jpg" class="card-img-top" alt="Books" width="237" height="180">
          <div class="card-body">
            <h5 class="card-title">Mixed Areas of Evaluation</h5>
            <p class="card-text">This exam will evaluate several areas like <b>math, verbal, spatial creation and logic thinking.</b> A little from everything.</p>
          </div>
        </div>

        <div class="card text-center bg-light" style="width: 16rem;">
          <img src="/static/img/time.jpg" class="card-img-top" alt="Time" width="237" height="180">
          <div class="card-body">
            <h5 class="card-title">Limited Time</h5>
            <p class="card-text">You will have to answer 20 questions as quick and accurate as possible. <b>The maximum time to finish the test is 20 min</b>. Be precise.</p>
          </div>
        </div>
      </div>

      <!-- Card to take Test -->
      <div class="bkgnd4 padleft">
        <blockquote class="center2">
  			<em>Take in mind that there are other characteristics such as outstanding artistic, creativeness, communication
  			that when combined with personal aptitudes such as ambition, good temperament and compassion,
  			could result in an outstanding level of success despite a low measured IQ"</em>
        </blockquote>
      </div>


      <div class="card text-center">
        <div class="card-body">
          <h3 class="card-title padding">Now... are you ready?</h3>
          <a href="/test" class="btn btn-primary btn-lg">Take the exam</a>
        </div>
      </div>

    </body>

    <!-- Footer Section -->
    <footer>
      <div class="container-fluid bkgnd-page">
        <p class="footer">IQ Test Sample</p>
      </div>
    </footer>
</html>